<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "zh-CN" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
  <div class="paper">
    {{ partial "header.html" . }}
    <main class="paper-main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
  </div>
</body>
</html>
